<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.user.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age
    </sql>

    <!-- 插入数据 -->
    <insert id="saveUser" parameterType="com.example.entity.user.User">
        insert into USER (id, name, age) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
    </insert>

    <!-- 查询所有数据 -->
    <select id="findByAll" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Column_List" /> FROM  user
    </select>

    <!-- 根据id删除某个User信息 -->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 根据id更新User信息 -->
    <update id="updateUser" parameterType="com.example.entity.user.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>

            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据id查找User信息 -->
    <select id="findUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{Id,jdbcType=INTEGER}
    </select>


</mapper>
